extends layout
block content
  ul
    each val, index in posts
      li= index + ': ' + val.post + ',' + val.time
  form(method="post", action="/post").form-horizontal
    legend post
    div.form-group
      textarea(name="post", cols="30", rows="10").form-control.custom-control
    div.form-group
      button(type="submit").btn.btn-primary post